<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
</head>
<body>
    <main>
        <section class="container py-4">
            <h1 class="text-center">About Us</h1>

            <div class="our-vision">
                <h2>Our Vision</h2>
                <p>To help create an educated and altruistic society by imparting quality education to students and inculcating in them deep values based on compassion and empathy.</p>
            </div>

            <div class="our-objectives">
                <h2>Objectives</h2>

                <p><strong>Donation Platform</strong></p>
                <ul>
                    <li>
                        To collect books on virtually any subject from people who are in no dire need of them anymore.
                    </li>
                    <li> To distribute those books among the deserving candidates.</li>
                </ul>
                <p><strong>Online Library</strong></p>
                <ul>
                    <li>
                        To develop an online library where students from the valley can avail books free of cost for a period of three months.
                    </li>
                </ul>
            </div>


            <div class="how-to-help">
                <h2>How Can You Help?</h2>
                <ul>
                    <li><strong>Donation Platform:</strong> Donate your books. We will ensure they reach deserving candidates.</li>
                    <li><strong>Online Library:</strong> Have books to share? Let us know.</li>
                    <li><strong>Spread the Word:</strong>  Tell others about the initiative.</li>
                </ul>
            </div>

            <div class="community-members">
                <h2>Community Members</h2>
                <p><strong>Chair</strong></p>
                <p>Mr Owais (Postgraduate student at TUM, Germany)</p>

                <p><strong>Members</strong></p>
                <ul>
                    <li>Mr Sarier</li>
                    <li>Ms Munazzah</li>
                    <li>Ms Aiman</li>
                    <li>Ms Nahida</li>
                    <li>Mr Khalid</li>
                    <li>Ms Arbeela</li>
                    <li>Mrs Khushi</li>
                    <li>Mr Aadil</li>
                    <li>Mr Zakir</li>
                    <li>Mr Anees</li>
                    <li>Mr Umair</li>
                    <li>Dr Farzana</li>
                    <li>Mr Burhan</li>
                </ul>
            </div>
        </section>
    </main>
</body>
</html>
