
@{
    ViewBag.Title = "Contact";
}

<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="container py-4">
        <h1 class="text-center">Contact Us</h1>
        <div class="contact-info">
            <h2>Locations</h2>
            <ul>
                <li>
                    Anantnag/Kulgam/Pulwama/Shopian: <a href="tel:+919596341433">+91 9596341433</a>
                </li>
                <li>Other districts: Contact on email or social media.</li>
            </ul>
        </div>

        <div class="contact-hours py-4">
            <h2>Contact Hours</h2>
            <ul>
                <li>Monday - Saturday: 7pm - 8pm</li>
                <li>Sunday: 9am - 8pm</li>
            </ul>
            <p>*These are call timings; email, WhatsApp and social media messaging available 24*7</p>
        </div>

        <div class="email-link py-4">
            <h2>Email</h2>
            <a href="mailto:openlibrarykashmir@gmail.com">openlibrarykashmir@gmail.com</a>
        </div>

        <div class="social-icons py-4">
            <h2>Find us on:</h2>
            <a href="https://www.facebook.com/open.library.kashmir/" class="fab fa-facebook fa-2x text-decoration-none"></a>
            <a href="https://www.instagram.com/openlibrarykashmir/" class="fab fa-instagram fa-2x text-decoration-none"></a>
            <a href="https://api.whatsapp.com/send?phone=+919596341433" class="fab fa-whatsapp fa-2x text-decoration-none"></a>

        </div>
    </section>
</body>
</html>
