@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized Error</title>
</head>
<body>
    <hgroup>
        <h1>Unauthorized Error</h1>
        <h2>You donot have the permission to access this page. Kindly contact with your admin.</h2>
    </hgroup>
</body>
</html>