@{
    ViewBag.Title = "Home Page";
}

<style>
    .book {
        width: 250px;
        height: 350px;
        perspective: 800px;
    }

.cover {
        background - color: #964B00;
        background - image: linear - gradient(to right, rgba(0, 0, 0, 0.2) 0 %, rgba(0, 0, 0, 0) 100 %);
        width: 220px;
        height: 350px;
        position: absolute;
        transform - style: preserve - 3d;
        transition: transform 0.8s;
    }

.cover:hover {
        transform: rotateY(15deg);
    }

.title {
        font - size: 26px;
        text - align: center;
        margin - top: 100px;
        color: #fff;
        text - shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    }

.author {
        font - size: 18px;
        text - align: center;
        margin - top: 20px;
        color: #fff;
    }

.spine {
        background - color: #733400;
        width: 30px;
        height: 350px;
        position: absolute;
        left: 220px;
    }

.pages {
        background - color: #f0f0f0;
        width: 220px;
        height: 350px;
        position: absolute;
        left: 30px;
        transform: translateZ(-1px);
    }
</style>

    <figure class="book">
        <figcaption class="cover">
            <h1 class="title">The Wonderful Adventure</h1>
            <p class="author">By Emily Parker</p>
        </figcaption>
        <div class="spine"></div>
        <div class="pages"></div>
    </figure>

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>