@{
    ViewBag.Title = "Support";
}

<html>
<head>
    <title>Support Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <main>
        <section class="container py-4">
            <h1 class="text-center">Support Us</h1>

            <div class="how-to-help">
                <h2>How Can You Help?</h2>

                <div class="support-option">
                    <p><strong>Donate Books</strong></p>
                    <p>Donate your books. We will ensure they reach the deserving candidates.</p>
                </div>

                <div class="support-option">
                    <p><strong>Add to Library</strong></p>
                    <p>Have any books you want others to use for a period of three months? Let us know.</p>
                </div>

                <div class="support-option">
                    <p><strong>Donate in Cash</strong></p>
                    <p>Donate in cash to sustain the initiative. We also buy books (from contributions) which are not available in our collection.</p>
                </div>

                <h6><em>Spread the word so that others can join the initiative.</em></h6>
            </div>

            <div class="contact-info mt-4">
                <h3>Have a query or wish to donate books? Contact us...</h3>
                <a href="tel:+919596341433">+91 9596341433</a>
                <div class="email-link">
                    <a href="mailto:openlibrarykashmir@gmail.com">openlibrarykashmir@gmail.com</a>
                </div>
                <div class="social-icons py-2">
                    <a href="https://www.facebook.com/open.library.kashmir/" class="fab fa-facebook-square fa-2x text-decoration-none"></a>
                    <a href="https://www.instagram.com/openlibrarykashmir/" class="fab fa-instagram fa-2x text-decoration-none"></a>
                    <a href="https://api.whatsapp.com/send?phone=+919596341433" class="fab fa-whatsapp fa-2x text-decoration-none"></a>

                </div>
            </div>

            <div class="donation-form mt-4">
                <h2>Donations</h2>
                <p>Want to help this cause by contributing in cash? Fill out your basic details in the form above, and we will contact you. Or contact us on our email or phone numbers, we will inform you of the procedure through which you can contribute.</p>
            </div>

        </section>
    </main>
</body>
</html>
