
@{
    ViewBag.Title = "Manage Books";
}

<main aria-labelledby="title">
    <div>
        <h4>Update Book Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Book(s):</dt>
            <dd>
                [
                @Html.ActionLink("Import Book(s)", "Import")
                ]
            </dd>
            <dd>
                [
                @Html.ActionLink("Add Book(s)", "AddBooks")
                ]
            </dd>

            <dt>Book(s) Of The Month:</dt>
            <dd>
                [
                @Html.ActionLink("Books Of The Month List", "GetBooksOfTheMonth")
                ]
            </dd>
            <dd>
                [
                @Html.ActionLink("Add Book Of The Month", "AddBookOfTheMonth")
                ]
            </dd>

        </dl>
    </div>
</main>