@if (Request.IsAuthenticated)
{
    <a href="@Url.Action("UserDetails", "Account")" class="navbar-brand">
        <img src="~/Content/Images/user-blue.png" title="User Details" alt="User Details" style="max-width: 32px; height: auto;" />
    </a>
}
else
{
    <a href="@Url.Action("Login", "Account")" class="navbar-brand">
        <img src="~/Content/Images/user-blue.png" title="User Details" alt="User Details" style="max-width: 32px; height: auto;" />
    </a>

}

<a id="wishlist-icon" class="navbar-brand" href="/Donation/Wishlist">
    <img src="~/Content/Images/wishlist-bd-blue.png" alt="Heart Icon" class="heart-icon">
    <span id="wishlist-count-badge" class="wishlist-count"></span>
</a>