@if (Request.IsAuthenticated)
{
    <a href="@Url.Action("UserDetails", "Account")" class="navbar-brand">
        <img src="~/Content/Images/profile-user-color.png" title="User Details" alt="User Details" style="max-width: 32px; height: auto;" />
    </a>
}
else
{
    <a href="@Url.Action("Login", "Account")" class="navbar-brand">
        <img src="~/Content/Images/profile-user.png" title="User Details" alt="User Details" style="max-width: 32px; height: auto;" />
    </a>

}