@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request. Please Contact Administrator.</h2>
    @*<h2>Controller Name: @Model.ControllerName</h2>
    <h2>Action Name:  @Model.ActionName</h2>
    <h2>Exception Details: @Model.Exception</h2>*@
</hgroup>

