@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1 class="text-danger">Error! An error occurred while processing your request. Please Contact Administrator.</h1>
    <h2 class="text-danger">Some Details: </h2>
    <h3>Controller Name: @Model.ControllerName</h3>
    <h3>Action Name:  @Model.ActionName</h3>
    <h3>Exception Details: @Model.Exception</h3>
</hgroup>

