@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Null Reference</title>
</head>
<body>
    <hgroup>
        <h1 class="text-danger">Erro Occured...</h1>
        <h2 class="text-danger">Null reference Exception occurred. Plese Contact Administrator.</h2>
    </hgroup>
</body>
</html>